// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@media (min-width: 1400px){
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1700px){
    .container {
        max-width: 1700px;
    }
}
body{
    background-color: $secondary !important;
    color: $font-color-grey;
} 

//Common Utils
.hide-widget-title >H4{
    display: none !important;
}

//Header Styles

@media (min-width: 768px) {
    .logo-header{
        width: 70%;
        margin: auto;
    };

    .custom-logo-link{
        width: 209px !important;
    }
    
} 
  
@media (max-width: 767px) {
    .logo-header{
        width: 100%;
        margin: auto;
    };

    .custom-logo-link{
        width: 109px !important;
    }
    
}
 

//Menu Styles
#mega-menu-wrap-primary,#mega-menu-wrap-primary-small{
    width: unset !important;
    margin-top: auto;
    margin-bottom: auto;
}


.menu-search-bar,#searchform{
    margin-top: auto;
    margin-bottom: auto;
}

#searchform .btn-primary{
    color: $font-color-grey !important;
    border:0.5em;
    background-color: $tertiary;
}

#searchform .btn-primary:hover{
    color: $font-color-light !important;
    background-color: $primary;
}
.nav-link{
    color:$tertiary!important; 
}

//Social Header
.social-header{
    text-align: right;
    background-color: $tertiary!important;
  
}

.social-header svg {
    color: $primary !important;
}
.header-widget-container{
    line-height: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jetpack-social-widget-list{
    margin-bottom: 0px !important;
}

.bg-tertiary {
    background-color:$tertiary!important; 
};



//Footer
.footer{
    background-color: $primary;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $font-color-light;
}

.site-footer{
    text-align: center;
    font-size: 12px;
}

.footer-menu{
    background-color: $red;
    font-size: 12px;
    color: $font-color-light;
}

.footer-vertical-menu-container  A{
    color: $font-color-light !important;
}

.social{
    font-size: 2em;
}
@media (min-width: 600px) {
    .social-icons-footer{
        width: unset !important;
        position: absolute  !important;;
        right: 0px;
    }
}
//Directory Widget
.card-img-top{    
    height: 150px;
}

.card-listings{
    
    box-shadow: 0 0 0 1px $secondary, 0 4px 0 0 $primary, 0 1px 3px 0 $secondary;
}

.card-listings:hover{
    
    box-shadow: 0 0 0 1px $secondary, 0 2px 0 0 $primary, 0 1px 3px 0 $secondary;
}

.card-button{
    margin-left: auto !important;
    margin-bottom: 8px !important;
}



.center-widget-container{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.home-page-widget-center-title{
    //border-color: $primary;
    //border-bottom-width:4px;
    //border-bottom-style: solid;
    color: $primary;
    width:fit-content;
}
.image-holder
{
    position: relative;
    width:100%;
    height:150px;
    text-align: center; 
}

.image-holder-product{
    position: relative;
    width:100%;
    height:auto; 
    text-align: center; 
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Centered
{
    display: inline-block;
    vertical-align: middle;
}

//Featured-Products
.entry-summary > P >  .understrap-read-more-link{
    display: none;
}


//View All Button

.ui.button ,.wpbdp-button,.btn-secondary{
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.ui.blue.button, .ui.red.buttons .button ,.wpbdp-button,.btn-secondary{
    background-color:$red;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}

.ui.blue.button, .ui.blue.buttons .button ,.wpbdp-button,.btn-secondary{
    background-color:$red;
}
.ui.blue.button,.wpbdp-button ,.btn-secondary{
    box-shadow: 0 0 0 0 rgba(34,36,38,.15) inset;
}


 
//Mega Menu Changes

#mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link:after, #mega-menu-wrap-primary #mega-menu-primary li.mega-menu-item-has-children > a.mega-menu-link span.mega-indicator:after{
    content: none !important;
} 

#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item-has-children > a.mega-menu-link:before{
    font-family: FontAwesome;
    font-size: 1.5em;
    content: '\f0c9';
    margin-top: 0.08em;
}



//Product Listing
#custom_html-2 > .home-page-widget-center-title {
    width: 100%;
}

#custom_html-2 > DIV {
    width: 100%;
}

